@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #C0C0C0;
    --cot-terciaria: #167BF7;
    --cor-bg: #00030C;

    --fonte-principal: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-bg);
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-family: var(--fonte-principal);
    font-size: 28px;
    font-weight: 700;
}

.container__subtitulo {
    color: #C0C0C0;
}

.container__button {
    background-color:  var(--cot-terciaria);
    border-radius: 8px;
    padding: 1em;
    color: var(--cor-primaria);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.button__secundario {
    border: 2px solid var(--cor-primaria);
    background-color: transparent;
}

.container__aviso {
    font-size: 12px;
    color: var(--cor-secundaria);
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.descricao__subtitulo {
    color: var(--cor-secundaria);
}

.secundario__button {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__titulo {
    font-size: 48px;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.lista__item {
    font-size: 32px;
}

.rodape {
    text-align: center;
    align-items: center;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1em 0
}

.lista__link {
    padding: 0 .6em 1em .6em;
}

.rodape__button {
    text-decoration: none;
    font-size: 16px;
    color: var(--cor-primaria);
}

.rodape__texto {
    font-size: 14px;
    color: var(--cor-secundaria);
    padding-bottom: 1.5em;
}

.lista__link a:hover {
    color: var(--cot-terciaria);
}

.lista__link a:active {
    color: var(--cor-secundaria);
}